.main-poll {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-poll h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .main-poll input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .add-option-btn {
    background-color: #f98212;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  
  .add-option-btn:hover {
    background-color: #ff7b00;
    color: #ffffff
  }
  
  .publish-btn {
    background-color: #ff7d20;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .publish-btn:hover {
    background-color: #ff6200;
    color: #ffffff;
  }
  