/* Register Page */
.register-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.register-container {
  display: flex;
  flex: 1;
}

.register-left,
.register-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-left {
  background-color: #f7f7f7;
}

.register-left img {
  max-width: 100%; /* Scale to container width */
  max-height: 100%; /* Scale to container height */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.register-right {
  background-color: white;
}

.form-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.welcome-text {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-btn {
  width: 100%;
  padding: 10px;
  background: #ff8400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn:hover {
  background: #b35700;
}

.register-message {
  margin-top: 10px;
  font-size: 14px;
  color: #e74c3c;
}

.login-redirect {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.redirect-btn {
  background: none;
  color: #fd7e14;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.redirect-btn:hover {
  color: #e46d13;
}
